@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    height: 14px;
    max-width: 282px;
    padding: 48px 19px 36px;
    grid-row: 4;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}

.footer {
  display: flex;
  max-width: 880px;
  padding: 67px 0 60px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}
