@media screen and (max-width: 1280px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
    grid-row: 1/4;
  }
}

.page {
  background: #000;
  height: 100%;
  overflow: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
