.page {
  background: #000;
  height: 100%;
  overflow: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
