.profile__content {
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  color: #fff;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  border-color: white;
  border-style: solid;
  grid-area: button;
  margin-left: 18px;
  align-self: center;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: description;
  margin: 7px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  color: #fff;
  background: transparent url(../images/add-button.svg) center no-repeat;
  margin-left: auto;
  border-color: white;
  border-style: solid;
  border-radius: 2px 2px 2px 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile__info {
    grid-template-columns: minmax(auto, 196px) auto;
  }

  .profile__add-button {
    padding: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 620px) {
  .profile__content {
    flex-direction: column;
    width: 282px;
  }

  .profile__image {
    display: flex;
    align-self: center;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    width: 100%;
    margin-top: 30px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    align-self: center;
  }

  .profile__description {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 14px 0 36px;
  }

  .profile__add-button {
    padding: 0;
    margin: 36px 0 0;
    width: 282px;
  }
}
