.cards {
  position: relative;
  max-width: 880px;
  width: 100%;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  list-style-type: none;
  padding: 50px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 775px) {
  .card__list {
    margin-top: 20px;
  }
}

@media screen and (max-width: 620px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
  }
}
