@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 1280px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .profile__content {
    padding: 0 20px 20px;
    margin: 0 auto;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 196px) auto;
  }

  .cards__list {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
    grid-row: 1/4;
  }

  .header {
    max-width: 320px;
    max-height: 56px;
    padding: 28px 167px 32px 27px;
    margin: 0;
    grid-row: 1;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin: 0;
    padding: 0;
  }

  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
    grid-row: 2;
  }

  .profile__image {
    display: flex;
    align-self: center;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    width: 100%;
    max-height: 50px;
    margin-top: 30px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    align-self: center;
  }

  .profile__description {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 14px 0 36px;
  }

  .profile__add-button {
    padding: 0;
    margin: 36px 0 0;
    width: 282px;
    height: 50px;
  }

  .cards__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 36px 0 98px;
    grid-row: 3;
  }

  .footer {
    display: flex;
    height: 14px;
    max-width: 282px;
    padding: 48px 19px 36px;
    grid-row: 4;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
